body {
    margin: 0;
    font-family: arial, Helvetica, sans-serif;
    font-size: 16pt;
}
header h1 {
    display: block;
    margin: auto;
    width: 5em;
    height: 5em;
    font-size: 8em;
    line-height: 5em;
    border: 0.1em solid black;
    border-radius: 5em;
    padding: 0;
    text-indent: 0;
}
header h2 {
    font-size: 4em;
}
header h3 {
    font-size: 2em;
    color: #666;
}
header {
    text-align: center;
}

#wrapper {
    width: 80%;
    margin: auto;
}

#wrapper p {
    text-indent: 3em;
    padding-bottom: 1em;
}

#nav {
    font-size: 1.5em;
}

#nav img {
    width: 1em;
    height: 1em;
    vertical-align: text-top;
}

#nav a {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 0.3em;
    border-radius: 0.2em;
    border: 0.1em solid black;
    margin: 0 0.3em;
    transition: background-color 100ms;
}
#nav a:hover {
    background-color: #ddd;
}

#nav a:active {
    animation-name: shake;
    animation-duration: 300ms;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}