@import 'https://fonts.googleapis.com/css?family=Prata';
body {
    margin: 0;
    font-family: arial, Helvetica, sans-serif;
    font-size: 12pt;
}
header h1 {
    display: block;
    margin: auto;
    width: 4em;
    height: 4em;
    font-size: 6em;
    line-height: 4em;
    border: 0.1em solid black;
    border-radius: 4em;
    padding: 0.2em;
    text-indent: -0.1em;
}
header h2 {
    font-size: 2em;
}
header h2 span {
    font-family: 'Prata', serif;
    letter-spacing: 0.1em;
}
header h3 {
    font-size: 1.2em;
    color: #666;
}
header {
    text-align: center;
}

#wrapper {
    width: 80%;
    margin: auto;
}

#wrapper p {
    text-indent: 3em;
    padding-bottom: 1em;
}

#nav {
    font-size: 1.5em;
}

#nav img {
    width: 1em;
    height: 1em;
    vertical-align: text-top;
}

#nav a, ul a {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 0.3em;
    border-radius: 0.2em;
    border: 0.1em solid black;
    margin: 0.3em;
    transition: background-color 100ms;
}
#nav a:hover, ul a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.comingsoon:hover {
    color: #aaa;
    border-color: #aaa;
    background-color: rgba(0, 0, 0, 0);
    cursor: no-drop;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
}

#wrapper img {
    max-width: 100%;
}

.imageView {
    width: 100%;
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    transition: background-image 600ms;
}

.imageTokenContainer {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    border-radius: 1em 0 1em 0;
}

.imageToken {
    float: left;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: 0.3em solid rgba(255, 255, 255, 0.5);
    margin: 0.3em;
    bottom: 0;
    transition: border-radius 300ms, background-color 300ms;
    cursor: pointer;
}

.selected {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0);
}

.imageToken:hover {
    border-color: rgba(255, 255, 255, 1);
}
.selected:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 0);
}

footer {
    text-align: center;
}

footer span {
    color: red;
    cursor: pointer;
}

.shake {
    animation-name: shake;
    animation-iteration-count: 147;
    animation-duration: 0.94s;
    animation-delay: 5.44s;
    animation-timing-function: ease-in-out;
}

.bgshake {
    animation-name: merica;
    animation-iteration-count: 147;
    animation-duration:  0.94s;
    animation-delay: 5.44s;
    animation-timing-function: ease-in-out;
}

@keyframes shake {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes merica {
    0% {
        background-color: pink;
    }
    25% {
        background-color: white;
    }
    50% {
        background-color: lightblue;
    }
    75% {
        background-color: white;
    }
    100% {
        background-color: pink;
    }
}