<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css"/>
	<script src="scripts.js">
	</script>
</head>

<body>
	<div id="MainButton">
		RECORD
	</div>
	<div class="SideButton left hide">
		RESTART
	</div>
	<div class="SideButton right hide">
		PAUSE
	</div>
	<div id="Sidebar">
		<div id="SidebarTitle">
			Previous Speeches
		</div>

		<div class="menuItem">
			<div class="itemName">
				<span>Speech 1</span>
				(5 recordings)
			</div>
			<div>
				(Pace: 135, Hesitations: 10, Tone: Sad, Date: 14/04/2016)
			</div>
		</div>

		<div class="menuItem">
			<div class="itemName">
				<span>Speech 1</span>
				(5 recordings)
			</div>
			<div>
				(Pace: 135, Hesitations: 10, Tone: Sad, Date: 14/04/2016)
			</div>
		</div>

	</div>
	<div id="MenuButton">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
	</div>
</body>

</html>