<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css"/>
	<script src="sidebar.js">
	</script>
</head>

<body>
	<div id="Sidebar">
		<div id="SidebarTitle">
			Previous Speeches
		</div>

		<div class="menuItem">
			<div class="itemName">
				<span>Speech 1</span>
				(5 recordings)
			</div>
			<div>
				(Pace: 135, Hesitations: 10, Tone: Sad, Date: 14/04/2016)
			</div>
		</div>

		<div class="menuItem">
			<div class="itemName">
				<span>Speech 1</span>
				(5 recordings)
			</div>
			<div>
				(Pace: 135, Hesitations: 10, Tone: Sad, Date: 14/04/2016)
			</div>
		</div>


	</div>
	<div id="MenuButton">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
	</div>
	<a href="">
		<div class="button">
				Logout
		</div>
	</a>
	<a href = "javascript: window.history.back()" style="text-decoration:none">
		<div class = "SquareButton">
			Back
		</div>
	</a>
	<div id="ProfilePanel">
		<div id="ProfileTitle">
			<span id="UserName">User Name<span>
		</div>
		<div id="stats">
			<h2><span>Pace:</span> (words per minute)</h2>
	      	<h2><span>Hesitations:</span> (per minute)</h2>
	      	<h2><span>General Tone:</span></h2>
			<div class="tones">
				<h3>Happiness</h3>
				<h3>Sadness</h3>
				<h3>Fear</h3>
				<h3>Anger</h3>
				<h3>Neutrality</h3>
			</div>
			<h2><span>Frequently Used Words:</span></h2>
			<div class="words">
				<h3>
					Ut: 24
				</h3>
			</div>
		</div>
	</div>
</body>

</html>