<!doctype html>
<html lang="en-US">
    <head>
    	<link rel="stylesheet" href="static/styles.css"/>
		<script src="static/sidebar.js"></script>
		<script src="static/scripts.js"></script>

		<meta name="google-signin-client_id" content=829611170519-u2fu8nis9unm4nvlmfdcuhiqod9rsbuh.apps.googleusercontent.com>
		<script src="https://apis.google.com/js/platform.js" async defer></script>

        <title>Oratorio</title>
    </head>

    <body>
    	<div id="Sidebar">
			<div id="SidebarTitle">
				Previous Speeches
			</div>

			<div class="menuItem">
				<!--Hardcoded menu items for demo purposes.-->
				<a class="itemName" href="result">
					<span>Speech 1</span>
					(5 recordings)
				</a>
				<div>
					(Pace: 135, Hesitations: 10, Tone: Sad, Date: 14/04/2016)
				</div>
			</div>

			<div class="menuItem">
				<a class="itemName" href="result">
					<span>Speech 1</span>
					(5 recordings)
				</a>
				<div>
					(Pace: 135, Hesitations: 10, Tone: Sad, Date: 14/04/2016)
				</div>
			</div>
		</div>

		<div id="MenuButton">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		
		<div class="LoginButton">
					<div class="g-signin2" data-onsuccess="onSignIn"></div>
				</div>
		<ul>
			<li style="float:right">
				<a href="https://github.com/PotatoTank/oratorio" target="_blank">
					Dev Docs
				</a>
			</li>
			<li style="float:right">
				<a href="static/userdocs.html">
					User Docs
				</a>
			</li>
			<li style="float:right">
				<a href="profile">
					User Profile
				</a>
			</li>
			<li style="float:right">
				
			</li>
		</ul>
		

		

		

		

	    {% block body_block %}{% endblock %}

    </body>
</html>
