<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css"/>
	<script src="sidebar.js"></script>
	<script src="scripts.js"></script>
	</script>
</head>

<body>
	<div id="Sidebar">
		<div id="SidebarTitle">
			Previous Speeches
		</div>

		<div class="menuItem">
			<a class="itemName" href="results.html">
				<span>Speech 1</span>
				(5 recordings)
			</a>
			<div>
				(Pace: 135, Hesitations: 10, Tone: Sad, Date: 14/04/2016)
			</div>
		</div>

		<div class="menuItem">
			<a class="itemName" href="results.html">
				<span>Speech 1</span>
				(5 recordings)
			</a>
			<div>
				(Pace: 135, Hesitations: 10, Tone: Sad, Date: 14/04/2016)
			</div>
		</div>


	</div>
	<div id="MenuButton">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
	</div>

	<div id="MainButton">
		RECORD
	</div>
	<div class="SideButton left hide">
		RESTART
	</div>
	<div class="SideButton right hide">
		PAUSE
	</div>

	<a href="">
		<div class="button">
				Logout
		</div>
	</a>
	<a href="profile.html">
		<div class="button">
				User Profile
		</div>
	</a>
</body>

</html>