{% extends "coach/base.html" %}

{% block body_block %}
	<div id="timer" class="timer">
		00:00:00
	</div>
	<div id="MainButton">
		RECORD
	</div>
	<div id="LeftButton" class="SideButton left hide">
		RESTART
	</div>
	<div id="RightButton" class="SideButton right hide">
		PAUSE
	</div>

	<div id="mirrorContainer">

    	<video autoplay="true" id="videoElement">

    	</video>
	</div>
	<label class="switch">
		<div id="mirrorLabel">Mirror:</div>
  		<input type="checkbox">
		<div class="mirrorSlider round" title="Toggle Mirror"></div>
	</label>

	<div id="snackbar">You need to allow camera access to use the mirror.</div>
{% endblock %}
