{% extends "coach/base.html" %}

{% block body_block %}
    <div id="userDocumentation">
        <h1>User Documentation for Oratorio</h1>

        <h2>What is Oratorio?</h2>
        <p>
            Oratorio is a web-based speech coach. Practise your speech or presentation while recording with Oratorio, and it will provide you powerful feedback and goals by analyzing your speech!
        </p>

        <h2>How do I use Oratorio?</h2>
        <p>
            The user interface is designed to be minimalistic and simple to use. Simply click the "RECORD" button on the homepage to start recording your speech. There is also a <i>Mirror Mode</i> toggle that allows uses your webcam as a mirror so you can see yourself while you present. Oratorio will analyze the speech and provide statistics. You can save these statistics to track your progress and goals for the speech by signing in with Google. Group multiple <i>recordings</i> together in one <i>speech</i> to track your progress across iterations of that speech!
        </p>
        <p>
            With Oratorio, it is very easy to group your recordings and organize them. For each speech you want to work on, you can create lots of recordings and they will be grouped by speech. You can even work on two different speeches and switch between both of them. 
        </p>
        <p>
            Oratorio provides many statistics that a human cannot provide. For example, it can immediately calculate and tell you the pacing of your recording and save it to your speech. It then calculates your running average WPM for each speech and can even calculate it on a per person basis so that you can see how your average improves over time.
        </p>

        <h2>How to report a bug?</h2>
        <p>
            Please help us improve Oratorio by reporting bugs and issues to <a href="https://github.com/PotatoTank/oratorio/issues">our GitHub repository</a> by clicking the "New Issue" button and filling in the form. A sample is provided below:<br/> <br/>
            <i>
                Issue: The site crashes when I click record 3 times in a row. <br/>
                Steps to reproduce: Click the record button 3 times consecutively. <br/>
              	Expected Behavior: Record button starts recording, stops recording, then starts recording again. <br/>
              	Actual Behavior: Record button starts recording, stops recording, and then the site crashes. <br/>
              	Operation System: Mac OS X Leopard 10.5.x <br/>
              	Browser: Chrome <br/>
              	Additional Information: It does not crash on Safari.<br/>
            </i>
        </p>
  	</div>
{% endblock %}