<!DOCTYPE html>
<html>
  <head>
	  <link rel="stylesheet" href="static/styles.css"/>
    <script src="static/sidebar.js"></script>
    <script src="static/wordFrequency.js"></script>
  </head>
  <body>
    <div id="Sidebar">
      <div id="SidebarTitle">
        Previous Speeches
      </div>

      <div class="menuItem">
			<a class="itemName" href="result">
          <span>Speech 1</span>
          (5 recordings)
        </a>
        <div>
          (Pace: 135, Hesitations: 10, Tone: Sad, Date: 14/04/2016)
        </div>
      </div>

      <div class="menuItem">
        <a class="itemName" href="result">
          <span>Speech 1</span>
          (5 recordings)
        </a>
        <div>
          (Pace: 135, Hesitations: 10, Tone: Sad, Date: 14/04/2016)
        </div>
      </div>


    </div>
    
    <div id="MenuButton">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    </div>

    <a href="">
      <div class="button">
        Logout
      </div>
    </a>
    <a href="profile">
      <div class="button">
        User Profile
      </div>
    </a>

    <div id="userdocumentation">
      <h1>User documentation for Oratorio</h1>
      <h2>What is Oratorio?</h2>
      <p>Oratorio is your comprehensive online speech coach. It provides quick, accessible goals and feedback after analyzing your speech. Instead of hiring expensive personal, you can now simply just upload your speech to Oratorio the service will give instant speech analysis directly to your computer.</p>
      <h2>How do I use Oratorio?</h2>
      <p>The UI is designed to be minimalistic and simple to use. Simply click the record button to start recording your speech. There is also a mirror mode toggle that allows you to access the webcam so that you can plan your actions while presenting. Oratorio will analyze the speech and provide statistics such as pace, tone, and word count. You can save these statistics to track your progress and goals for the speech by logging in with Google.</p>
      <h2>How to report a bug?</h2>
      <p>Please report bugs/issues at https://github.com/PotatoTank/oratorio/issues <br/> <br/>
	 Example format: <br/>
        <i> Issue: The site crashes when I click record 3 times in a row. <br/>
	Steps to reproduce: Click the record button 3 times consecutively. <br/>
	Expected Behavior: Record button starts recording, stops recording, then starts recording 		again. <br/>
	Actual Behavior: Record button starts recording, stops recording, then the site crashes. 		<br/>
	Operation System: Mac OS X Leopard 10.1.x <br/>
	Browser: Chrome <br/>
	Additional Information: it does not crash on safari<br/> </i>
      </p>
  </body>
</html>
